<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/URI.min.js"></script>
    <script src="~/Scripts/js-cookie/js.cookie-2.1.3.min.js"></script>
    <script src="~/Scripts/classic-to-spa.js"></script>
</head>
<body>
    @{ Html.RenderPartial("_RequestInfoDisplay"); }

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Page 1", "Page1", "Home")</li>
                    <li>@Html.ActionLink("Page 2", "Page2", "Home")</li>
                    <li>@Html.ActionLink("Page 1 Alias", "Page1Alias", "Home")</li>
                    <li>@Html.ActionLink("Form", "Form", "Home")</li>
                    <li>@Html.ActionLink("Error", "Error", "Home")</li>
                    <li>@Html.ActionLink("Config", "Config", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div id="loaded-content">
            <!-- BODY BEGIN eb8b19a0-87bc-4c04-bcef-b12f4d22bb7c -->
            @RenderBody()
            <!-- BODY END eb8b19a0-87bc-4c04-bcef-b12f4d22bb7c -->
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>